body{
    margin: 0;
    padding: 0;
    background-color: white;
}
.menubar{
    background-color: green;
    text-align: center;
}
.menubar ul{
    display: flex;
    width:1024px;
    list-style: none;
}
.menubar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menubar ul li a{
    color: white;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;    
    font-size: 18px;
    letter-spacing: 0.5px;
}
.active,.menubar ul li:hover {
    background: #2bab0d;
    border-radius: 3px;
}
.submenu{
    display: none;
    width: 300px;
}
.menubar ul li:hover .submenu{
    display: block;
    position: absolute;
    background: green;
    margin-top: 15px;
    margin-left: -15px;
}
.menubar ul li:hover .submenu ul{
    display:block;
    margin: 10px;
} 
.menubar ul li:hover .submenu ul li{
    width: 150px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0px;
    text-align: left;
}
.menubar ul li:hover .submenu ul li:last-child{
    border-bottom: none;
}
.menubar ul li:hover .submenu ul li a:hover{
    color: #b2ff00;
}
.announcement{
    background-color: rgba(0, 0, 0, 0.397);
}
h1{
    background-color: black;
    width:220px;
    color: aliceblue;
}
.announ:after{
    content: "";
    animation: changetext 10s infinite linear;
    color: white;
}
@keyframes changetext{
    0%{content: "abc";}
    50%{content: "bhi";}
    100%{content: "qwe";}
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width:20%;
    transition: 2s;
}
.slide img{
    width:800px;
    height: 500px;
}
.navigationmannual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.mannualbtn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.mannualbtn:not(:last-child){
    margin-right: 40px;
}
.mannualbtn:hover{
    background: #40D3DC;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.navigationauto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigationauto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigationauto div:not(last-child){
    margin-right: 40px;
}
#radio:checked ~ .navigationauto .autobtn1{
    background: #40D3DC;
}
#radio:checked ~ .navigationauto .autobtn2{
    background: #40D3DC;
}
#radio:checked ~ .navigationauto .autobtn3{
    background: #40D3DC;
}
#radio:checked ~ .navigationauto .autobtn4{
    background: #40D3DC;
}
.discription{
    background-color: red;
}
.events{
    display: flex;
    justify-content: center;
}
.card{
    background:rgba(0, 0, 0, 0.397) ;
    width:270px;
    height:400px;
    margin:10px ;
}
.more{
    background: #2bab0d;
    text-align: center;
    justify-content: space-between;
    display: contents;
}

footer{ 
    background-color: rgba(0, 0, 0, 0.308);
    height: 50px;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
footer p{
    font-size: 10px;
    font-style: italic;
    color: aliceblue;
}
footer a {
    
    color: aliceblue;
    font-size:15px;
    padding-left: 15px;
    padding-right: 15px;
}